#gmap {
  display: block;
  height: 100%;
  width: 100%;
  /*background-size:cover;*/
}

gm-control-active {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  width: 26px;
  height: 26px;
  line-height: 26px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: #000;
}
